.app__card {
  width: 35rem;
  height: 45rem;

  padding: 2rem 4rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s all ease;
}

.app__card:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.9);
}

.app__card p {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: var(--color-gray);
}

.bg__card {
  background-color: var(--color-dark-blue);
}

.card__img img {
  width: 18rem;
  height: 18rem;
  border: 0.5rem solid var(--color-red);
  border-radius: 50%;

  object-fit: cover;
}

.app__icons {
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.icons {
  font-size: 2.7rem;
  transition: 0.4s all ease;
}

.icons:hover {
  color: var(--color-red);
  transform: scale(1.5);
}

.icons:active {
  transform: scale(1.3);
}

a:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .app__card:hover {
    transform: none;
    box-shadow: none;
  }

  .icons:hover {
    transform: none;
  }

  .icons:active {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .app__card {
    width: 30rem;
    height: 40rem;
  }

  .app__card p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .card__img img {
    width: 16rem;
    height: 16rem;
    border: 0.5rem solid var(--color-red);
  }

  .icons {
    font-size: 2.4rem;
  }

  .app__icons {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .app__card {
    width: 25rem;
    height: 35rem;
  }

  .app__card p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
  }

  .card__img img {
    width: 14rem;
    height: 14rem;
  }

  .icons {
    font-size: 2.1rem;
  }

  .app__icons {
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .app__card {
    width: 25rem;
    height: 35rem;
  }

  .app__card p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .card__img img {
    width: 14rem;
    height: 14rem;
  }

  .icons {
    font-size: 1.8rem;
  }

  .app__icons {
    gap: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .app__card {
    width: 20rem;
    height: 30rem;
  }

  .app__card p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .card__img img {
    width: 12rem;
    height: 12rem;
    border: 0.4rem solid var(--color-red);
  }

  .icons {
    font-size: 1.5rem;
  }

  .app__icons {
    gap: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .app__card {
    width: 15rem;
    height: 25rem;
  }

  .app__card p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .card__img img {
    width: 10rem;
    height: 10rem;
    border: 0.3rem solid var(--color-red);
  }

  .icons {
    font-size: 1.2rem;
  }

  .app__icons {
    gap: 0.5rem;
  }
}
