.app__header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__header h1 {
  font-size: 10rem;
  font-family: var(--font-header);

  color: var(--color-white);
}

.app__header h3 {
  font-size: 3.2rem;
  color: var(--color-red);
  font-family: var(--font-main);
}

@media screen and (max-width: 1280px) {
  .app__header {
    height: 23vh;
  }

  .app__header h1 {
    font-size: 8rem;
  }

  .app__header h3 {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .app__header {
    height: 21vh;
  }

  .app__header h1 {
    font-size: 6rem;
  }

  .app__header h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .app__header {
    height: 20vh;
  }

  .app__header h1 {
    font-size: 5rem;
  }

  .app__header h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .app__header {
    height: 19vh;
  }

  .app__header h1 {
    font-size: 4rem;
  }

  .app__header h3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 540px) {
  .app__header {
    height: 18vh;
  }

  .app__header h1 {
    font-size: 3rem;
  }

  .app__header h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  .app__header {
    height: 17vh;
  }

  .app__header h1 {
    font-size: 2rem;
  }

  .app__header h3 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .app__header {
    height: 16vh;
  }

  .app__header h1 {
    font-size: 1.6rem;
  }

  .app__header h3 {
    font-size: 0.6rem;
  }
}
