.app__footer {
  width: 100%;
  height: 15vh;
  font-size: 1.8rem;
  color: var(--color-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .app__footer {
    height: 12vh;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 450px) {
  .app__footer {
    height: 10vh;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .app__footer {
    height: 8vh;
    font-size: 0.9rem;
  }
}
