.app {
  width: 100%;
}

.section__padding {
  padding: 6rem 10rem;
}

.bg__header {
  background-color: var(--color-blue);
  opacity: 95%;
}

.bg__footer {
  background-color: var(--color-black);
  opacity: 80%;
}
