@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --font-header: "Playfair Display", serif;

  --color-black: #040d12;
  --color-blue: #1d267d;
  --color-gray: #b9b4c7;
  --color-red: #ff6969;
  --color-white: #d2e0fb;
  --color-dark-blue: #0a2647;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 10/16 * 100 = 62.5% */
}

body {
  font-family: var(--font-main);
  box-sizing: border-box;

  /* background: url(https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_1280.png); */
  background: url(https://img.freepik.com/free-vector/colorful-futuristic-background-with-shiny-particles_52683-42650.jpg?w=1060&t=st=1696594295~exp=1696594895~hmac=3490b9dfc3b1e77003cc46a129ca4678c3d2a75f615edb0e7fa3cd97d2061750);
  
   /* background: url(https://img.freepik.com/free-vector/futuristic-technological-wallpaper_79603-1093.jpg?w=1060&t=st=1696594402~exp=1696595002~hmac=5914c6c9144ab76efeb4b606b1611ad03442e9939c5d52e49bd8a2d47372c5b7); */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
