@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nanum+Myeongjo:wght@700&family=Sarabun:ital,wght@0,100;1,100&family=Space+Grotesk&display=swap');
:root {
  --font-main: "Roboto", sans-serif;
  --font-header: 'Black Ops One', cursive;

  --color-black: #040d12;
  --color-blue: #1d267d;
  --color-gray: #b9b4c7;
  --color-red: #ff6969;
  --color-white: #d2e0fb;
  --color-dark-blue: #0a2647;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 10/16 * 100 = 62.5% */
}


body {
  font-family: var(--font-main);
  box-sizing: border-box;

  /* background: url(https://cdn.pixabay.com/photo/2020/10/14/16/14/space-5654794_1280.png); */
  /* background: url(https://cdn.pixabay.com/photo/2016/06/17/06/04/background-1462755_1280.jpg); */
  background: url(https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462434_1280.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app__header {
  letter-spacing: 10px;
}